.container {
  text-align: center;
  margin-top: 10px;
}
.calc-container {
  border: 1px solid #333;
  border-radius: 2px;
  display: inline-block;
  background-color: #ddd;
}

.calc-button {
  width: 70px;
  min-height: 70px;
  color: #333;
  background-color: #ccc;
}

.width-2 {
  width: 140px !important;
}

.calc-button-op {
  color: #fff;
  background-color: orange;
}

.calc-button-top {
  color: #fff;
  background-color: #aaa;
}

.answer-box {
  background-color: #333;
  color: #fff;
  text-align: right;
  min-height: 70px;
  font-size: 3rem;
  padding: 30px 10px 0;
}

button {
  font-size: 2rem;
  outline: none;
}